@use 'typography';
@use 'buttons';
:root {
    --font-main: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
.container{
    max-width: 1364px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
}
*{
    box-sizing: border-box;
}
@media (max-width: 1450px) {}
@media (max-width: 1100px) {}
@media (max-width: 767px) {}